@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

a {
  color: #5fcf80;
  text-decoration: none;
}

a:hover {
  color: #86db9f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 88vh;
  background: url("https://pbs.twimg.com/media/E1w24h8VcAMN8tz?format=jpg&name=large")
    top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(53, 110, 134, 0.219);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 72px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #302836;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: rgb(43, 43, 43);
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-buy {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  background: rgba(209, 42, 13, 0.747);
  color: #fff;
}

#hero .btn-buy:hover {
  background: #3c84e2;
  border: 2px solid #3c84e2;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 48vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.section-title {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #434175;
  font-style: italic;
}
.section-title p {
  font-size: 18px;
  text-transform: uppercase;
  color: #222;
  font-family:'Handlee';
}

.gallery {
  padding-bottom: 0;
}

.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# container-img
--------------------------------------------------------------*/
.container-img {
  background: url("https://pbs.twimg.com/media/E1zhuR6UcAIpcsM?format=jpg&name=large")
  top center;
  background-size: cover;
  position: relative;
  
}

.container-img .member {
  margin-bottom: 50px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.container-img .member .member-img {
  position: relative;
  overflow: hidden;
}


.container-img .member .member-info {
  padding: 25px 15px;
}

.container-img .member .member-info h4 {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #493c3e;
}

.container-img .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.container-img .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.container-img .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# cita
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)), url("https://morelos.gob.mx/sites/default/files/sala-de-prensa/whatsapp_image_2019-08-24_at_4.20.27_pm_1_1.jpeg") center center;
  background-size: cover;
  padding: 60px 0;
  margin-top: 80px;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #3c84e2;
  border: 2px solid #3c84e2;
}

@media (min-width: 1024px) {
  .cta {
    background-attachment: fixed;
  }
}


/*--------------------------------------------------------------
# boletin
--------------------------------------------------------------*/

.newsletter {
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 50px 0;
  background: whitesmoke;
  text-align: center;
  font-size: 15px;
}

.newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #0f394c;
}

.newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

.newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgba(209, 42, 13, 0.747);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.newsletter form input[type="submit"]:hover {
  background: #1da2e0;
}
