<!--Seccion inicial-->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div
    class="container position-relative"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Las Ofertas de Verano<br />estan aqui</h1>
    <h2>Hasta un 30% de Descuento</h2>
    <a class="btn-buy">COMPRAR AHORA</a>
  </div>
</section>

<!--Seccion de imagenes-->
<section id="gallery" class="gallery">
  <div class="container-fluid">
    <div class="section-title">
      <h2>Destacados</h2>
      <p>
        No nos atrevemos a muchas cosas porque son difíciles, pero son difíciles
        porque no nos atrevemos a hacerlas.
      </p>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img
              src="https://pbs.twimg.com/media/E1xwvnjVcAQtX_x?format=jpg&name=4096x4096"
              alt="mujeres"
              class="img-fluid"
              [routerLink]="['products/platforms/woman']"
              routerLinkActive="router-link-active"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img
              src="https://pbs.twimg.com/media/E1x2j8xVcAAEz_b?format=jpg&name=4096x4096"
              alt="hombres"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img
              src="https://pbs.twimg.com/media/E1yBNIQVkAAYVd6?format=jpg&name=4096x4096"
              alt="chamacos"
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a class="gallery-lightbox">
            <img
              src="https://pbs.twimg.com/media/E1x92ykUcAECRh-?format=jpg&name=4096x4096"
              alt="accesorios"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Seccion de cita-->
<section id="cta" class="cta">
  <div class="container">
    <div class="text-center">
      <h3>Los productos de la mejor calidad solo en #UAEM Store</h3>
      <p>ㅤㅤㅤ</p>
      <a class="cta-btn" href="#">Ver mas</a>
    </div>
  </div>
</section>

<!--container-img-->
<section id="container-img" class="container-img">
  <div class="container">
    <div class="section-title">
      <h2>ㅤPopular ahora</h2>
      <p>Material de lujo para tu maxima comodidad.</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img
              src="https://pbs.twimg.com/media/E1zXxOtVkAgE8Rj?format=jpg&name=large"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Colección Premium</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img
              src="https://pbs.twimg.com/media/E1zZOQKUcAcmNSA?format=jpg&name=large"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Listo para usar</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img
              src="https://pbs.twimg.com/media/E1zW73pVEAI56LQ?format=jpg&name=large"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Exclusivo</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Seccion boletin-->
<div class="newsletter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h4>Suscribete a nuestro boletín</h4>
        <p>Suscríbete, entérate de las novedades y obtén 15% de descuento.</p>
        <form>
          <input type="email" /><input type="submit" value="Subscribirse" />
        </form>
      </div>
    </div>
  </div>
</div>
