
<div class="container">
  Sigue siendo un misterio cual habrá sido el origen del Universo en el tiempo
  cero. Una de las teorías más aceptadas es la creación a partir del big bang
  también conocida como la gran explosión, ocurrida hace aproximadamente 13.8000
  millones de años. La teoría del big bang también postula que el Universo
  comenzó a expandirse desde su origen y lo sigue haciendo hasta el día de hoy.
  Como resultado de la explosión se originaron extensas nubes de polvo y gases
  calientes. A partir de éstos materiales primigenios habrían surgido otros
  elementos, a su vez, éstos últimos fueron la materia prima para la formación
  de galaxias, estrellas y sistemas complejos, cómo nuestro sistema solar. Una
  pequeña cantidad de los elementos pesados presentes en las nebulosas
  primigenias fueron acumulados juntos, dando origen a cuerpos celestes, entre
  ellos los planetas, como la Tierra. Todos Los planetas que giran alrededor del
  sol describiendo una órbita forman lo que se conoce cómo sistema solar.
  Entonces, ¿cuáles fueron las condiciones iniciales durante la formación del
  Universo y posterior formación de nuestro sistema solar?, ¿Cuáles son los
  componentes del universo y de nuestro sistema solar? El big bang es la teoría
  científica universal más aceptada para definir el origen del universo. Esta
  teoría fue desarrollada por el científico ucraniano George Gamow y publicada
  por primera vez en un artículo escrito en 1948. “En ese artículo, hicieron la
  notable predicción de que la radiación (en forma de fotones) procedentes de
  las etapas tempranas muy calientes del universo debe permanecer todavía hoy,
  pero con su temperatura reducida a solo unos pocos grados por encima del cero
  absoluto”, (Hawking, 1988, pag. 109). Hawking (1988) señala en su libro
  historia del tiempo lo siguiente, “se piensa que en el momento del big bang el
  universo tuvo un tamaño nulo y por lo tanto estuvo infinitamente caliente.
  Pero conforme el universo se expandía la temperatura de la radiación
  disminuía” (pag.108). Segundos después de la explosión la temperatura habría
  disminuido varios miles de millones de grados. En ese momento el universo
  habría estado formado principalmente por partículas extremadamente ligeras,
  tales como, fotones, electrones, neutrinos además de sus antipartículas – se
  entiende por antíparticulas a partículas con iguales características y que
  difieren sólo en su carga eléctrica-, junto con algunos protones y neutrones.
  En resúmen, la etapa temprana del universo se caracteriza por ser una etapa
  muy caliente. La explosión habría generado una gran nube de polvo y gases
  calientes, a partir de los cuales empezaron a formarse núcleos de átomos de
  Deuterio (hidrógeno pesado) los cuales evolucionaron a núcleos de helio y
  también se formaron algunos otros elementos más pesados, tales como, litio y
  berilio. El universo está formado por Galaxias, y éstas a su vez están
  formadas por agrupaciones de distintas estrellas. El Universo está constituido
  por aproximadamente 100.000 millones de galaxias con distintas formas, ya sea,
  elípticas, espirales, irregulares
  
</div>
