<body>
    <section class="main">
      <section class="articles">
        <article>
          <h3>CONTACTO</h3>
          <br />
          <hr />
          <br /><br />
          <b><p>Nosotros</p></b><br />
          <p>
            Nuestra prioridad eres tu en todo momento, somos la tienda virtual
            de la maxima casa de estudios del estado de Morelos. Comprometidos
            con dejar la huella del venado a toda la comunidad universitaria
            manteniendo siempre el liderazgo que nos ha dado identidad por 77
            años.
          </p>
          <br />
          <b><p>Dirección</p></b> <br />
          <div class="footer-columna">
            <span class="fa fa-map-marker"
              ><a>
                Av. universidad #1001, Colonia chamilpa CP 62209, Cuernavaca
                Morelos.</a
              ></span
            ><br /><br />
            <span class="fa fa-phone"><a> +52 777 102 69 85 ext 2001.</a></span
            ><br /><br />
            <span class="fa fa-envelope"><a> Tiendavenado@uaem.mx</a></span
            ><br /><br />
          </div>
          <br />
          <b><p>Sucursales</p></b> <br />
          <p>
            Por el momento no contamos con sucursales físicas :( pero no te
            preocupes. Pronto tendremos muchas!
          </p>
          <br />

          <b>Encuentranos</b> <br /><br />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.8710204793515!2d-99.23987138502567!3d18.9813027871423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cde0f51fb11411%3A0xdd84849fedf75bb6!2sUNIVERSIDAD%20AUTONOMA%20DEL%20ESTADO%20DE%20MORELOS!5e0!3m2!1ses-419!2smx!4v1621455340795!5m2!1ses-419!2smx"
            width="707"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </article>
      </section>
    </section>
  </body>