.container {
  max-width: 960px;
}

.lh-condensed {
  line-height: 1.25;
}

h4 {
  font-family: "Poppins", sans-serif;
}
.rowxd {
  margin-top: -40px;
}
.btn-buy {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 35px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgb(43, 81, 187);
  color: #fff;
  text-align: center;
  width: 50%;
  border: none;
}
.btn-buy:hover {
  background: #3f4042;
}