<div class="container mt-5 mb-5" *ngIf="meData && available">
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <app-checkout-resume></app-checkout-resume>
    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Dirección de envío</h4>
      <hr />
      <br />
      <form class="needs-validation" (ngSubmit)="sendData()" #forma="ngForm">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" id="firstName" />
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Apellido(s)</label>
            <input type="text" class="form-control" id="lastName" />
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Dirección de envío </label>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="Av. Universidad"
              #addressData="ngModel"
              [(ngModel)]="address"
              name="address"
              required=""
            />
            <div class="invalid-feedback">Ingresa una dirección</div>
          </div>

          <div class="col-12">
            <label for="address2" class="form-label"
              >Referencia
              <span class="text-muted">(Optional)</span></label
            >
            <input
              type="text"
              class="form-control"
              id="ref"
              placeholder="Puerta blanca"
            />
          </div>

          <div class="col-12">
            <label for="address2" class="form-label"
              >Teléfono / Celular
              <span class="text-muted">(Optional)</span></label
            >
            <input
              type="text"
              class="form-control"
              id="address2"
              placeholder="7771170147"
            />
          </div>
        </div>

        <hr class="my-4" />
        <h4 class="mb-3">Forma de pago</h4>

        <div class="my-3">
          <div class="form-check">
            <input
              id="credit"
              name="paymentMethod"
              type="radio"
              class="form-check-input"
              checked=""
              required=""
            />
            <label class="form-check-label" for="credit"
              >Tarjeta de crédito</label
            >
          </div>
          <div class="form-check">
            <input
              id="debit"
              name="paymentMethod"
              type="radio"
              class="form-check-input"
              required=""
            />
            <label class="form-check-label" for="debit"
              >Tarjeta de débito</label
            >
          </div>
        </div>
        <br />
        <div class="rowxd">
          <div class="col-lg">
            <ng-stripe-pay-form
              [key]="key"
              [hidePostalCode]="true"
            ></ng-stripe-pay-form>
          </div>
        </div>

        <button
          class="btn-buy"
          [disabled]="!forma.valid || block"
          (click)="sendData()"
          type="submit"
        >
          PAGAR AHORA
        </button>
      </form>
    </div>
  </div>
</div>
