<body>
  <section class="main">
    <section class="articles">
      <article>
        <h3>TERMINOS Y CONDICIONES</h3>
        <br />
        <hr />
        <br /><br />

        <b
          ><p>
            Términos y condiciones aplicables a la compraventa de productos UAEM
            STORE.
          </p></b
        ><br />

        <p>
          El presente contrato de compraventa entre uaemstore.com.mx, y el
          consumidor, se regirá bajo los presentes Términos y Condiciones, el
          cual se perfeccionará una vez que el precio de la mercancía haya sido
          cubierto, aceptado y reconocido por los sistemas de pago de uaem store
          México, los cuales se especificarán posteriormente y una vez
          verificado el pago, uaem store realizará la entrega de los productos
          seleccionados y pagados por el consumidor, en el domicilio que éste le
          indique.
        </p>
        <br />

        <b><p>Restricciones de edad.</p></b><br />
        <p>
          La compraventa únicamente podrá realizarse por personas que tengan 18
          años de edad cumplidos o mayores a esta, por lo que las personas
          menores de 18 años de edad no podrán realizar una compraventa, sino a
          través de su padre o tutor legal.
        </p>
        <br />

        <b><p>Condiciones de compra de los productos UAEM STORE.</p></b>
        <br />
        <p>
          1. Los consumidores únicamente podrán comprar productos: <br />
          (a) que estén disponibles para su venta y cuyos detalles aparezcan en
          la tienda en línea de uaem store. (b) productos cuya entrega pueda
          realizarse dentro del territorio de la República Mexicana por la
          empresa de mensajería.<br /><br />

          2. Los detalles de los productos disponibles para su compra,
          incluyendo su correspondiente precio, se encuentran especificados en
          la tienda en línea de uaem store, adoptará todas las medidas
          necesarias para garantizar todos los detalles, las descripciones y los
          precios de los productos que aparecen en la tienda en línea sean
          correctos.<br /><br />

          3. Los productos enunciados en la tienda en línea de uaem store, se
          ofrecen en las cantidades disponibles, con las características de
          materiales, tallas y colores visibles al momento de realizar la
          compra.<br /><br />

          4. Para efectuar una compra, el consumidor deberá ingresar a la tienda
          en línea de uaem store, en el sitio www.uaemstore.com.mx y seleccionar
          el o los productos que desee comprar, debiendo llenar el formulario
          correspondiente, en el cual se le requerirán algunos datos personales,
          entre ellos un correo electrónico para contactar al consumidor durante
          el proceso de compra.<br /><br />

          5. Los productos seleccionados por el consumidor, serán incluidos en
          la canasta/carrito de compra. Al finalizar la selección de productos,
          el consumidor deberá presionar el botón “Ir a la caja” para tener
          acceso a la página de resumen del pedido.<br /><br />

          6. Al final de la página de resumen del pedido, el consumidor deberá
          realizar el pago del o de los productos seleccionados y uaem store
          pueda procesar la compraventa de su pedido, lo cual lo podrá realizar
          mediante los sistemas de pago.
        </p>
        <br />

        <b><p>Pago</p></b><br />
        <p>
          1. El consumidor podrá pagar con su tarjeta bancaria, ya sea de
          crédito o débito Visa, MasterCard y American Express. El cobro en su
          tarjeta bancaria se realizará cuando haya sido autorizado por la
          compañía procesadora la compra de los productos y previo a la entrega
          de los mismos.<br /><br />

          2. El pago mediante tarjeta de crédito y/o débito es totalmente
          seguro. La totalidad de la transacción se realiza de forma cifrada a
          través de un servidor de validación bancaria utilizándose el protocolo
          de encriptación SSL (Secure Socket Layer), así el número de su tarjeta
          de crédito y la fecha de caducidad quedan instantáneamente encriptados
          en su ordenador antes de ser enviados al protocolo SSL.<br /><br />

          3. En caso de que el consumidor requiera factura fiscal por la compra
          de productos, deberá solicitarla al momento de realizar el
          procedimiento de compra. Para tal efecto, deberá proporcionar sus
          datos de facturación completos y correctos. Una vez emitida la factura
          no habrá re-facturación. adidas de México se obliga a emitir la
          factura fiscal correspondiente de acuerdo a los requisitos fiscales
          establecidos en la ley vigente.
        </p>
        <br />

        <b><p>Transacción del pago</p></b><br />
        <p>
          1. Para el caso de que el consumidor haya realizado el pago a través
          de tarjeta de crédito o débito, uaem store solicitará a la compañía
          procesadora de dicha tarjeta, la autorización para poder realizar el
          cargo por el importe total de su compra, el cual es indicado en la
          página de resumen de pedido. Si la tarjeta de crédito o débito del
          consumidor no es autorizado, la compraventa no podrá realizarse.<br /><br />

          2. El consumidor reconoce y acepta pagar a uaem store el importe total
          de los productos, previo a que el consumidor reciba los mismos.<br /><br />

          3. Para asegurar la compraventa al consumidor, uaem store reservará
          dentro de su inventario el o los productos que el consumidor adquiera
          durante un plazo de 3 (tres) días hábiles mencionados en el numeral
          que antecede. Transcurrido el plazo antes mencionado y en caso de que
          no se haya perfeccionado la compraventa de productos a través del
          pago, estos dejarán de estar reservados y volverán a estar disponibles
          en la tienda en línea para que otro consumidor pueda adquirirlos.<br /><br />

          4. En caso de que no se haya podría realizar la reserva de productos,
          el consumidor recibirá una notificación por correo electrónico en un
          plazo máximo de 48 (cuarenta y ocho) horas, a partir de la fecha en
          que uaem store haya recibido los datos de su tarjeta bancaria o el
          pago en efectivo, informándole cual o cuales de los productos no
          pudieron reservarse.
        </p>
        <br />

        <b><p>Proceso de confirmación y aprobación del pedido</p></b><br />
        <p>
          Uaem store llevará el proceso de confirmaciones y aprobaciones del
          pedido, el cual le será notificado al consumidor mediante una serie de
          correos electrónicos de la siguiente manera:<br /><br />

          1. uaem store enviará al consumidor un primer correo electrónico
          confirmando la recepción del pedido de productos, lo cual no
          constituye una aceptación automática del pedido, sino hasta el momento
          en que reciba la autorización referente al pago.<br /><br />

          2. El consumidor recibirá un tercer correo electrónico por parte de
          uaem store, confirmándole que los productos que ha solicitado le han
          sido enviados (“Pedido Enviado”).
        </p>
        <br />

        <b><p>Entrega de producto</p></b><br />
        <p>
          1. uaem store realizará la entrega del pedido, en el domicilio
          indicado por el consumidor, el cual deberá encontrarse dentro de la
          República Mexicana. 2. Una vez que el consumidor reciba el correo
          electrónico “Pedido Enviado”, uaem store a través de la empresa de
          mensajería, entregará su pedido dentro de los plazos establecidos.<br /><br />

          3. Si el consumidor desea rastrear el envío de su pedido podrá darle
          seguimiento, por medio del número de guía que le fue proporcionado a
          través del correo electrónico.<br /><br />

          5. Todas las entregas irán acompañadas de un acuse de recibo. Los
          plazos de entrega serán entre 2 (dos) a 6 (seis) días hábiles, a
          partir de que el consumidor reciba el correo electrónico de “Pedido
          enviado”.<br /><br />

          6. En caso de que el consumidor, no llegue recibir en el plazo
          mencionado en el numeral anterior la entrega de su pedido, deberá
          comunicarse al área de Servicio al Cliente marcando el número
          telefónico 777-394-5862 (local), a efecto de verificar el estado de su
          pedido, para lo cual se le solicitará proporcione el número de orden
          de su pedido a fin de que el área de Servicio al Cliente le notifique
          vía correo electrónico o por teléfono el estado en que se encuentra la
          entrega.<br /><br />

          7. En caso de que exista un retraso y este sea por causas imputables a
          uaem store o a la empresa de mensajería encargada de la entrega, el
          consumidor tendrá el derecho de recibir por concepto de compensación a
          elección suya un producto de los que se encuentren disponibles dentro
          de la tienda en línea de uaem store, cuyo valor podrá ser por un
          importe equivalente.
        </p>
        <br />

        <b><p>Excepciones de entrega</p></b><br />
        <p>
          1. Para la entrega del pedido, uaem store utilizará una empresa de
          mensajería; sin embargo, uaem store seguirá siendo responsable en todo
          momento frente al consumidor durante el proceso de entrega.<br /><br />

          2. Para los casos en que el consumidor no haya podido ser localizado
          en el domicilio proporcionado, que los datos proporcionados por el
          consumidor no hayan sido correctos, que no se permita el acceso a la
          empresa de mensajería, u otros imputables al consumidor, se
          considerará el paquete como “Sobre con Problema”, para lo cual el
          paquete permanecerá en la sucursal de la empresa de mensajería más
          cercana al domicilio del consumidor, lo cual le será comunicado al
          consumidor vía correo electrónico, por un plazo de 48 (cuarenta y
          ocho) horas hasta que el consumidor acuda a recoger su pedido.<br /><br />

          3. Para los casos en que el consumidor requiera cambiar el domicilio
          en donde se hará la entrega, únicamente procederá si el nuevo
          domicilio tiene el mismo código postal del domicilio que registro al
          momento de realizar la compra, deberá comunicarse al teléfono de
          Servicio al Cliente, en caso de no seguir el procedimiento que se le
          indicará a través del Servicio al Cliente, el cambio de domicilio no
          será autorizado.
        </p>
        <br />

        <b
          ><p>
            Reglas Generales para casos de devolución y tipos de devolución
          </p></b
        ><br />
        <p>
          Para cualquier tipo de devolución que el consumidor desee realizar
          deberá de proceder las siguientes reglas generales. 1. El consumidor
          podrá realizar tres tipos de devoluciones de acuerdo a cada caso en
          específico, las cuales se describirán posteriormente y son: Devolución
          por retracto de compra, Devolución de pedido suministrado
          incorrectamente, Devolución de pedidos por calidad, producto dañado o
          defectuoso.<br /><br />

          2. uaem store sólo aceptará una única devolución de producto sobre el
          mismo pedido. Para los casos de devolución por pedido suministrado
          incorrectamente y devolución de pedidos por calidad, producto dañado o
          defectuoso, podrá existir una segunda devolución.<br /><br />

          3. uaem store le enviará un correo electrónico a fin de notificarle la
          autorización de su devolución o en caso contrario, le notificaremos la
          no procedencia de la devolución.<br /><br />

          5. Cuando se realice una devolución que no derive en un cambio de
          producto y en caso de que proceda un reembolso, se regirá de acuerdo a
          lo establecido en el apartado “Reembolso de dinero”.
        </p>
        <br />

        <b><p>Devolución de pedido suministrado incorrectamente</p></b><br />
        <p>
          En caso de que su pedido haya sido suministrado incorrectamente por
          uaem store, de acuerdo a los siguientes supuestos, el consumidor podrá
          realizar el procedimiento que se detalla posteriormente:<br /><br />

          (a) por un artículo incorrecto.<br /><br />

          (b) por una talla incorrecta.<br /><br />

          El consumidor podrá realizar la devolución del producto siempre y
          cuando se cumpla con las siguientes condiciones y requisitos:<br /><br />

          1. El producto permanezca nuevo y sin uso y no haya sufrido un
          deterioro esencial, irreparable y grave por causas imputables al
          consumidor.<br /><br />

          2. El producto se devuelva con empaque, caja y etiquetas
          originales.<br /><br />

          3. Se encuentre dentro del plazo de 30 (treinta) días calendario
          contados a partir de la fecha en que el consumidor haya recibido el
          producto.<br /><br />

          4. El consumidor entregue comprobante de pago de que el producto fue
          comprado en la página en línea de uaem store.
        </p>
        <br />

        <b
          ><p>
            Devolución de pedidos por mala calidad, producto dañado o defectuoso
          </p></b
        ><br />
        <p>
          1. En caso de que el consumidor reciba productos dañados, de mala
          calidad o defectuosos de origen o, en caso de que el daño o defecto
          del producto (siempre que no sea imputable al consumidor) se
          manifieste durante los 60 (sesenta) días posteriores a la fecha de
          recibo del pedido, el consumidor podrá:<br /><br />

          (a) cancelar el pedido a través de una devolución de producto por mala
          calidad<br /><br />

          (b) obtener un reembolso íntegro del precio que haya sido pagado por
          el producto o productos a devolver, siempre y cuando se cumpla con las
          siguientes condiciones y requisitos:<br /><br />

          I. El producto no hubiese sido alterado por el consumidor;<br /><br />

          II. El producto no haya sido usado en condiciones distintas a las
          recomendadas o propias de su naturaleza o destino, y que no haya
          sufrido un deterioro esencial, irreparable y grave por causas
          imputables al consumidor.<br /><br />

          III. Que el producto se presente dentro de su empaque original, ya sea
          caja, envoltorio, o cualquier otro dentro del cual le haya sido
          entregado, así como también deberán portar las etiquetas originales,
          sin desprender las mismas.<br /><br />

          IV. El consumidor entregue el comprobante de pago de que el producto
          fue comprado en la tienda en línea de uaem store.<br /><br />

          2. En caso de que sea procedente su reclamo por productos dañados,
          mala calidad o defectuosos, el consumidor recibirá el reembolso
          íntegro por la cantidad de o de los productos que hayan tenido algún
          defecto, adicional al reembolso.<br /><br />

          3. uaem store podrá negarse a satisfacer la reclamación si ésta es
          extemporánea, cuando el producto haya sido usado en condiciones
          distintas a las recomendadas o propias de su naturaleza o destino, o
          si ha sufrido un deterioro esencial, irreparable y grave por causas
          imputables al consumidor.<br /><br />

          4. Asimismo, uaem store le enviará un correo electrónico para
          notificarle la procedencia de su devolución en los mismos términos.
        </p>
        <br />
      </article>
    </section>
  </section>
</body>
