@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap");

* {
  font-family: "Sulphur Point", sans-serif;
  color: #524e4e;
  margin: 0;
  padding: 0;
}
p,
ol,
li,
article,
a {
  font-family: "Open sans" sans-serif;
}

h3 {
  font-family: "Text Me One", sans-serif;
  font-size: 30px;
  text-align: center;
}

b {
  font-size: 16.5px;
}

body {
  background: whitesmoke;
 
}

.main {
  width: 90%;
  max-width: 750px;
  margin: 20px auto;
}

.main .articles article {
  font-size: 15.5px;
  padding: 20px;
  background: #fff;
  margin-top: -20px;
  margin-bottom: -20px;
}

ol {
  list-style: square inside;
}
