<body>
  <section class="main">
    <section class="articles">
      <article>
        <h3>POLITICAS DE PRIVACIDAD</h3>
        <br />
        <hr />
        <br /><br />
        <p>
          La presente Política de Privacidad establece los términos en que UAEM
          STORE usa y protege la información que es proporcionada por sus
          usuarios al momento de utilizar su sitio web. Esta compañía está
          comprometida con la seguridad de los datos de sus usuarios. Cuando le
          pedimos llenar los campos de información personal con la cual usted
          pueda ser identificado, lo hacemos asegurando que sólo se empleará de
          acuerdo con los términos de este documento. Sin embargo esta Política
          de Privacidad puede cambiar con el tiempo o ser actualizada por lo que
          le recomendamos y enfatizamos revisar continuamente esta página para
          asegurarse que está de acuerdo con dichos cambios.
        </p>
        <br />

        <b><p>Su Consentimiento</p></b><br />
        <p>
          Al usar estos sitios, usted está de acuerdo con los términos de este
          Aviso de Privacidad. Siempre que envíe información a través de estos
          sitios, usted acepta la recopilación, uso y divulgación de dicha
          información de acuerdo con este Aviso de Privacidad, las Condiciones
          del servicio y las disposiciones específicas de estos sitios que
          pueden ser presentados en la información del tiempo se recogen. Los
          datos que solicitamos son los siguientes:
        </p>
        <br />
        <ol>
          <li>Email</li>
          <li>Titulo</li>
          <li>Nombre</li>
          <li>Apellido</li>
          <li>Genero</li>
          <li>Telefono</li>
          <li>Calle</li>
          <li>Codigo postal</li>
          <li>Ciudad</li>
          <li>Colonia</li>
          <li>Estado</li>
          <li>Pais</li>
          <li>Numero de tarjeta credito/debito</li>
          <li>CVC</li>
          <li>Fecha de vencimiento de tarjeta credito/debito</li>
        </ol>
        <br />

        <b><u>No solicitamos datos sensibles en nuestros sitios.</u></b
        ><br /><br />

        <b><p>Uso de la información recogida</p></b><br />
        <p>
          Nuestro sitio web emplea la información con el fin de proporcionar el
          mejor servicio posible, particularmente para mantener un registro de
          usuarios, de pedidos, y mejorar nuestros productos y servicios. Es
          posible que sean enviados correos electrónicos periódicamente a través
          de nuestro sitio uaemstore.com.mx con ofertas especiales, nuevos
          productos y otra información publicitaria que consideremos relevante
          para usted o que pueda brindarle algún beneficio, estos correos
          electrónicos serán enviados a la dirección que usted proporcione y
          podrán ser cancelados en cualquier momento. UAEM STORE está altamente
          comprometido para cumplir con el compromiso de mantener su información
          segura. Usamos los sistemas más avanzados y los actualizamos
          constantemente para asegurarnos que no exista ningún acceso no
          autorizado.
        </p>
        <br />

        <b><p>Recopilación de Información Pasiva</p></b><br />
        <p>
          Al navegar por estos sitios y / o recibir correos electrónicos en
          relación con estos sitios, cierta información puede ser recogida de
          forma pasiva (es decir, sin que usted proporcione activamente la
          información) mediante varias tecnologías y medios, aquellos que se
          describen a continuación:<br />
        </p>

        <ol>
          <li>Solicitud web</li>
          <li>Interacción con un servicio</li>
          <li>Dirección IP</li>
          <li>Tipo e idioma del navegador</li>
          <li>Fecha y hora de solicitud</li>
          <li>Telefono</li>
          <li>
            Una o varias cookies que permiten una identificación exclusiva del
            navegador o de la cuenta
          </li>
        </ol>
        <br />

        <b><p>Cookies</p></b><br />
        <p>
          Una cookie se refiere a un fichero que es enviado con la finalidad de
          solicitar permiso para almacenarse en su ordenador, al aceptar dicho
          fichero se crea y la cookie sirve entonces para tener información
          respecto al tráfico web, y también facilita las futuras visitas a una
          web recurrente. Otra función que tienen las cookies es que con ellas
          las web pueden reconocerte individualmente y por tanto brindarte el
          mejor servicio personalizado de su web.<br />
          Nuestro sitio web emplea las cookies para poder identificar las
          páginas que son visitadas y su frecuencia. Esta información es
          empleada únicamente para análisis estadístico y después la información
          se elimina de forma permanente. Usted puede eliminar las cookies en
          cualquier momento desde su ordenador. Sin embargo las cookies ayudan a
          proporcionar un mejor servicio de los sitios web, estás no dan acceso
          a información de su ordenador ni de usted, a menos de que usted así lo
          quiera y la proporcione directamente. Usted puede aceptar o negar el
          uso de cookies, sin embargo la mayoría de navegadores aceptan cookies
          automáticamente pues sirve para tener un mejor servicio web. También
          usted puede cambiar la configuración de su ordenador para declinar las
          cookies. Si se declinan es posible que no pueda utilizar algunos de
          nuestros servicios.
        </p>
        <br /><br />

        <b><p>Enlaces a Terceros</p></b><br /><br />
        <p>
          Este sitio web pudiera contener en laces a otros sitios que pudieran
          ser de su interés. Una vez que usted de clic en estos enlaces y
          abandone nuestra página, ya no tenemos control sobre al sitio al que
          es redirigido y por lo tanto no somos responsables de los términos o
          privacidad ni de la protección de sus datos en esos otros sitios
          terceros. Dichos sitios están sujetos a sus propias políticas de
          privacidad por lo cual es recomendable que los consulte para confirmar
          que usted está de acuerdo con estas.
        </p>
        <br />
        <b><p>Control de su información personal</p></b><br />

        <p>
          En cualquier momento usted puede restringir la recopilación o el uso
          de la información personal que es proporcionada a nuestro sitio web.
          Cada vez que se le solicite rellenar un formulario, como el de alta de
          usuario, puede marcar o desmarcar la opción de recibir información por
          correo electrónico. En caso de que haya marcado la opción de recibir
          nuestro boletín o publicidad usted puede cancelarla en cualquier
          momento. Esta compañía no venderá, cederá ni distribuirá la
          información personal que es recopilada sin su consentimiento, salvo
          que sea requerido por un juez con un orden judicial. UAEM STORE Se
          reserva el derecho de cambiar los términos de la presente Política de
          Privacidad en cualquier momento.
        </p>
        <br />
      </article>
    </section>
  </section>
</body>
