* {
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
    background: #7db458;
}

p{
    font-family:sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #f2f2f2;
    margin: 0;
    text-align: center;
    font-style: normal;
    font-size: medium;
}
