<nav class="navbar navbar-expand-lg navbar-light custom-bg sticky-top">
  <a
    class="navbar-brand"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    >UAEM STORE
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse align-items-center"
    id="navbarTogglerDemo02"
  >
    <ul class="navbar-nav mr-auto" *ngFor="let item of menuItems">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="item.url"
          routerLinkActive="router-link-active"
          >{{ item.label }}</a
        >
      </li>
    </ul>
    <!--Parte izquierda del menu admon-->
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="access && role == 'ADMIN'">
        <a
          class="nav-link"
          [routerLink]="['/admin']"
          routerLinkActive="router-link-active"
          >Admin</a
        >
      </li>
      <li class="nav-item" *ngIf="!access">
        <a
          class="nav-link"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          >Ingresa</a
        >
      </li>
      <li class="nav-item" *ngIf="!access">
        <a
          class="nav-link"
          [routerLink]="['/register']"
          routerLinkActive="router-link-active"
          >Crea tu cuenta</a
        >
      </li>
      <li class="nav-item dropdown" *ngIf="access">
        <a
          class="nav-link"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ userLabel }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Configuración</a></li>
          <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
