<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contacto</h4>
          <p>
            Av. Universidad No. 1001, <br />
            Col Chamilpa, Cuernavaca,<br />
            Morelos, México. C.P. 62209 <br /><br />
            <strong>Teléfono:</strong> (777) 329-79-00 <br />
            <strong>Cuenta de correo:</strong> web@uaem.mx<br />
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Información</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a>Preguntas frecuentes</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a>Cambios y Devoluciones</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a> Métodos de pago</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a>Punto de venta</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Servicios</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a>Productos de Graduación</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a>Seguimiento a Pedidos</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a>Localiza tu tienda</a>
            </li>

            <li><i class="bx bx-chevron-right"></i> <a>Whatsapp</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Acerca de</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a>Políticas de Privacidad</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a>Aviso de Privacidad</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a>Términos de uso</a></li>
          </ul>
          <div class="social-links mt-3">
            <a
              href="https://twitter.com/UAEMorelos"
              target="_blank"
              class="twitter"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="https://www.facebook.com/uaem.mx"
              target="_blank"
              class="facebook"
              ><i class="fa fa-facebook"></i
            ></a>
            <a
              href="https://www.youtube.com/channel/UC7HSjjYBye1q-V73ymxjAZA"
              target="_blank"
              class="youtube"
              ><i class="fa fa-youtube"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>C.Camilo</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits"></div>
  </div>
</footer>
