#footer {
	background: #f9f9f9;
	padding: 0 0 30px 0;
	color: #222;
	font-size: 14px;
  }
  

  #footer .footer-top {
	background: #f9f9f9;
	padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
	font-size: 18px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
  }
  
  #footer .footer-top .footer-info p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
	color: rgb(37, 36, 36);
  }
  
  #footer .footer-top .social-links a {
	border: 1px solid #444;
	color: #444;
	display: block;
	font-size: 16px;
	height: 40px;
	line-height: 38px;
	margin-right: 5px;
	text-align: center;
	width: 40px;
	border-radius: 50%;
	display: inline-block;
  }
  
  #footer .footer-top .social-links a:hover {
	color:rgb(51, 91, 202);
	text-decoration: none;
  }
  
  #footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #323538;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #5db1f9;
	font-size: 18px;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
	color: #323538;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
	color: #3c84e2;
  }
  
  #footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
	line-height: 26px;
  }
  
  #footer .copyright {
	text-align: center;
	padding-top: 30px;
  }
  
  #footer .credits {
	padding-top: 5px;
	text-align: center;
	font-size: 13px;
	color: #556270;
  }
  

  
  