<footer class="footer">
 
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Contacto</h4>
        <ul>
          <li>
            <p>
              <i class="fa fa-map-marker"> </i>
              <strong> Dirección::</strong>
              Av. Universidad No. 1001, Col Chamilpa, Cuernavaca, Morelos,
              México. C.P. 62209
            </p>
          </li>

          <li>
            <p>
              <i class="fa fa-phone"> </i>
              <strong> Teléfono:</strong>
              (777) 329-79-00
            </p>
          </li>

          <li>
            <p>
              <i class="fa fa-book"> </i>
              <strong> Contacto UAEM:</strong>
              <a href="https://www.uaem.mx/directorio/">Directorio</a>
            </p>
          </li>

          <li>
            <p>
              <i class="fa fa-envelope"> </i>
              <strong> Cuenta de correo:</strong>
              <a href="mailto:web@uaem.mx">web@uaem.mx</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Servicios</h4>
        <ul>
          <li>
            <p>
              <i class="fas fa-bullhorn"></i>
              <strong> Nosotros</strong>
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-shipping-fast"></i>
              <strong> Envios</strong>
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-box-open"></i>
              <strong> Devoluciones</strong>
            </p>
          </li>
          <li>
            <p>
              <i class="far fa-calendar-plus"></i>
              <strong> Status del pedido</strong>
            </p>
          </li>
          <li>
            <p>
              <i class="far fa-credit-card"></i>
              <strong> Opciones de pago</strong>
            </p>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Servicio al Cliente</h4>
        <ul>
          <li>
            <p>
              <i class="fa fa-lock"> </i>
              <strong> Aviso de privacidad</strong>
            </p>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Redes Sociales</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/uaem.mx" target="_blank"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://twitter.com/UAEMorelos" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.youtube.com/user/UAEMor" target="_blank"
            ><i class="fab fa-youtube"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
