<body class="my-login-page">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="brand"></div>
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Crear cuenta</h4>

              <form (ngSubmit)="add()" #forma="ngForm">
                <div class="form-group">
                  <label for="name">Tu nombre</label>
                  <input
                    type="text"
                    name="name"
                    #name="ngModel"
                    [(ngModel)]="register.name"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="lastname">Tu apellido</label>
                  <input
                    type="text"
                    name="lastname"
                    #lastname="ngModel"
                    [(ngModel)]="register.lastname"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="email">Correo electrónico</label>
                  <input
                    type="text"
                    name="email"
                    #email="ngModel"
                    [(ngModel)]="register.email"
                    class="form-control"
                    [pattern]="emailPattern"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input
                    type="password"
                    name="password"
                    #password="ngModel"
                    [(ngModel)]="register.password"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="date">Fecha de Nacimiento</label>
                  <app-date-picker-legal-age
                    class="form-control"
                    (newDate)="dataAsign($event)"
                  ></app-date-picker-legal-age>
                </div>

                <div class="form-group m-0">
                  <button [disabled]="forma.invalid" type="submit" class="btn btn-primary btn-block">
                    Crear cuenta
                  </button>
                </div>
                <div class="mt-4 text-center">
                  ¿Ya tienes una cuenta?
                  <a
                    class="nav-link"
                    [routerLink]="['/login']"
                    routerLinkActive="router-link-active"
                    >Iniciar sesión</a
                  >
                </div>
              </form>
            </div>
          </div>
          <div class="footer">
            <i class="bx bx-chevron-right"></i><a class="item" [routerLink]="['/faq']" routerLinkActive="router-link-active">Polít de Privacidad</a>
            <i class="bx bx-chevron-right"></i><a> | </a>
            <i class="bx bx-chevron-right"></i><a class="item" [routerLink]="['/terms']" routerLinkActive="router-link-active">Términos de uso</a>
            <i class="bx bx-chevron-right"></i><a> | </a>
            <i class="bx bx-chevron-right"></i><a class="item" [routerLink]="['/privacy']" routerLinkActive="router-link-active">Aviso de Privacidad</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
