/* Agregamos Bootstrap para manejar los estilos de una manera las rapida */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
shop-product-item .product-grid .product-image img {
    max-height: inherit !important; 
}
shop-product-item .product-grid .product-content .price {
    color: rgba(17, 17, 17, 0.932) !important;
    text-align: left !important;
    margin-left: 100px !important;
    font-family: 'Poppins', sans-serif;
}

app-product-category-list .container h2{
    font-size: 2rem !important;
    margin-bottom: 30px !important;
    text-align: center !important;
    font-family: 'Poppins', sans-serif;
    
}
app-product-category-list .container hr{
    opacity: 0 !important;
}

//cart
app-shopping-cart  .card {
    border: inherit !important;
}
app-shopping-cart  .quantity {
    display: inline-block;
    
}
app-shopping-cart .btn{
    border-radius: inherit !important;
    background-color: rgb(65, 61, 61);
    border: inherit;
}

//product details
app-details .btn{
    border-radius: inherit !important;
    background-color: rgb(65, 61, 61);
    border: inherit;
}
//checkout details
ng-stripe-pay-form #card-errors {
    font-family: 'Poppins', sans-serif;
    background-color: inherit !important;
    font-size: 14px;
    font-weight: 500;
    color: red !important;
}

ng-stripe-pay-form #card-img {
    max-width: 115px !important;
}