<body>
  <section class="main">
    <section class="articles">
      <article>
        <h3>PREGUNTAS FRECUENTES</h3>
        <br />
        <hr />
        <br /><br />
        <b><p>¿Que pasa si no me queda la prenda que adquiri?</p></b> <br />
        <br />
        <p>
          No te preocupes podrás solicitar un cambio por la misma prenda,
          siempre y cuando se encuentre en buenas condicones. A traves de
          nuestro correo tienda@edu.uaem.mx solictalo.
        </p>
        <br />
        <b><p>¿Puedo cambiar mi prenda por otro producto?</p></b><br /><br />
        <p>
          NO, ya que por el momento no contamos con un sistema en el cual se
          solicite dar diferencia sobre otro producto.
        </p>
        <br />
        <b
          ><p>
            ¿Debo ser de la comunidad UAEM para adquirir algún producto?
          </p></b
        ><br /><br />
        <p>
          NO, UAEM SHOP fue creada para ofrecer productos a nivel nacional e
          internacional, permitiendo dar identidad a nuetsra institución.
        </p>
        <br />
        <b><p>¿Mi compra es segura?</p></b><br /><br />
        <p>
          Si, para esto es necesario contar con una identifación oficial y que
          sea el titular de la tarjeta sea quien realize la compra, ya que para
          nosotros es importante que tus datos proporcionados (personales y
          bancarios) esten protegidos ante un mal uso.
        </p>
        <br />
        <b><p>¿Todos los productos tienen garantía?</p></b><br /><br />
        <p>
          Todos los productos oficiales de UAEM SHOP cuentan con garantía de 3
          meses sin excepción alguna, por lo cual se recomienda verificar el
          producto una vez entregado.
        </p>
      </article>
    </section>
  </section>
</body>
